@use "./variables" as *;

//MOBILE S
@media screen and (min-width: 320px){
    .main {
        height: 60vh;
        width: 150px;
        background-color: $offWhite-color;
        border: 0.2px solid $mediumGrey-color;
        border-radius: 20px;
        box-shadow: 10px 5px 5px #aba9a395;
        padding: 12px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        input {
            box-sizing: border-box;
            width: 100% ;
            border: none;
            height: 25px;
            font-family: $main-font;
            text-align: end;
            padding-right: 5px;
            border:0.2px solid $lightGrey-color;
          }
        
        &__input--userInput {
            margin-bottom: 2.5px;
          }

        &__buttons {
            display: flex;
            justify-content: space-around;
            
            button {
                width: 100%;
                height: 30px;
                border: 10px;
                font-family: $main-font;
                margin: 0px 0.7px;
            }
        }

        button:hover {
            background-color: black;
            color: white;
        }

        &__btn1 {
            color: $white-color;
            background-color: $darkGrey-color;
        }

        &__btn2 {
            color: $black-color;
            background-color: $white-color;

            &--multiplySign {
                color:  $white-color;
                background-color: $skin-colour;
            }
        }

        &__btn3 {
            color: $black-color;
            background-color: $white-color;

            &--subtractSign {
                color:  $white-color;
                background-color: $skin-colour;
            }
        }

        &__btn4 {
            color: $black-color;
            background-color: $white-color;

            &--addSign {
                color:  $white-color;
                background-color: $skin-colour;
            }
        }

        &__btn5 {
            color: $black-color;
            background-color: $skinLight-colour;
        }
    }
}

//TABLET
// @media screen and (min-width: 768px){
    
// }

//DESKTOP
// @media screen and (min-width:1440px){
    
// }