
// $font-text:'Inter', sans-serif;
// $font-title:'Cormorant', serif;
$black-color:  black;
$white-color: #fff;
$palepink-color: #eceae4;
$superdarkgrey-color: #3a3a3a;
$darkgrey-color: #898781;
$mediumgrey-color: #aba9a3;
$likegrey-color: #d1d2cb;
