

$main-font: 'Quicksand', sans-serif;
$black-color:  black;
$white-color: #fff;
$offWhite-color: #f5f5f5;
$superDarkFrey-color: #3a3a3a;
$darkGrey-color: #898781;
$mediumGrey-color: #e2e2e5;
$lightGrey-color: #e7e7e7;
$skin-colour: #bea88f;
$skinLight-colour: #c8c2bb;
